<!doctype HTML>
<html>
  <head>
    <title>MHK COMMUNITY CHEST - EJS RENDERED <%= title %></title>
    <link type="text/css" rel="stylesheet" href="/site.css">
  </head>
  <body>
    <h1>Hi!!!!</h1>
    <div class="content">
      <%- box %>  
      <%- list %>  
    </div>
    <script src="/site.js"></script>
  </body>
</html>