<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/site.css" rel="stylesheet" type="text/css"/>
    <title>MHK Community Chest<%= title %></title>
    <link rel="icon" href="favicon-16x16.png" type="image/png">
    <link rel="icon" href="favicon-32x32.png" type="image/png">
    <link rel="icon" href="favicon-64x64.png" type="image/png">
  </head>
  
  <body>
    <div class="header">
      <h1>MHK Community Chest</h1>
      <p>Support your local community!</p>
      <a href="/signup" <button> Sign Up </button></a>
    </div>

    <div class="card-container" id="card-container">
        <%- boxes %>
    </div>

    <div class="footer">
      <h1>What is Community Chest?</h1>
      <p>Community Chest is a non-profit project that uses newspaper dispensers around town to gather small charitable goods. Leave your goods with us and we will rehome them!</p>
    </div>
  </body>
</html>