<div>
  <h1>Sign Up</h1>
  <form method="POST">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <label for="email">Email:</label>
    <input type="text" name="email" />

    <label for="name">Name:</label>
    <input type="text" name="name"/>

    <label for="password">Password:</label>
    <input type="text" name="password"/>

    <input type="submit" value="Create Account"/>

  </form>
</div>