<div>
	<h1> List of Users </h1>
</div>
<% users.forEach((user) => { %>
	<div>
		<% const uName = user.name; %>
		<% const uEmail = user.email; %>
		<% const uRole = user.roles; %>

		<h3> <%= uName %> </h3>
		<form method="GET">

		<p>User Email: <%= uEmail %></p>
		<p>User Role: <%= uRole %></p>

    <input type="submit" value="Modify Account"/>

		</form>
	</div>
<% }); %>